/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 12px 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: small; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: white;
  font-weight: 400; }

a:hover {
  color: white;
  font-weight: 400; }

a:visited {
  color: white;
  font-weight: 400; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

a, a:hover, a:visited {
  text-decoration: none;
  color: #FDF5E6; }

.background {
  background: url(../img/textile-dark-gray-pattern.png) repeat fixed center;
  color: #FDF5E6;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1; }
  .background:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #2d0303 0%, #061c0d 100%);
    opacity: .75;
    z-index: 10; }

.UI {
  position: relative;
  z-index: 11;
  padding: 2rem;
  color: #FDF5E6; }
  .UI .quote {
    float: left;
    padding-top: 6px;
    font-size: 14px; }
    .UI .quote h1 {
      font-weight: 400; }
  .UI .toggles {
    padding-right: 4px; }
    .UI .toggles a {
      font-size: 20px;
      padding: 5px 15px;
      border: 1px solid #FDF5E6;
      display: block;
      float: right;
      text-align: center;
      width: 50px;
      transition: 100ms ease-in-out; }
      .UI .toggles a.pressed {
        background: #FDF5E6;
        color: black; }
      .UI .toggles a:hover {
        opacity: .8; }
    .UI .toggles .playtoggle {
      border-right: 1px solid #FDF5E6;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .UI .toggles .worktoggle {
      border-left: 0px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .UI .dials {
    padding-top: 5px; }
  .UI .bigdials, .UI .smalldials {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .UI .bigdials a, .UI .smalldials a {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin: 4px;
      text-align: center;
      display: block;
      border: 1px solid #FDF5E6;
      border-radius: 5px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      transition: 10ms ease-in-out; }
      .UI .bigdials a:hover, .UI .smalldials a:hover {
        background: #FDF5E6;
        color: black; }
  .UI .bigdials a {
    min-width: 300px;
    padding: 4em 0;
    font-size: 24px;
    max-width: 25vw; }
  .UI .smalldials a {
    min-width: 150px;
    padding: 1em 0;
    font-size: 18px;
    max-width: 15vw; }
  .UI h2 {
    font-weight: normal;
    font-weight: 400; }
  .UI .logo {
    margin: 10px 0;
    float: right;
    font-size: 16px;
    vertical-align: middle; }
    .UI .logo img {
      width: 30px;
      height: auto;
      vertical-align: middle;
      margin-top: -8px; }
